* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    width: 100%;
    height: 100%;
    
}

.container {
    width: 100%;
    height: 100%;
    background-color: white;
    position: relative;
    margin: 0;
}


.header__heading {
    background-color: #530AEE;
    color: white;
    height: 50px;
    width: 100%;
    padding: 5px 10px;
    margin-top: 0;
}


.leftside-bar {
    height: 450px;
    max-width: 13vw;
    position: absolute;
    top: 50px;
    min-width: 250px;
    border-right: 1px solid gray;
}
.leftside-bar__heading {
    font-size: 20px;
    margin-left: 30px;
}

.leftside-bar__list {
    padding-left: 0;
    margin-left: 30px;
}

.leftside-bar__list li {
    margin-bottom: 10px;
    list-style-type: none;
}

.leftside-bar__list a {
    text-decoration-line: none;
    color: orange;
}

.content {
    width: 50%;

    position: absolute;
    top: 50px;
    left: 300px;
}
.content__heading {
    color: white;
    background-color: #530AEE;
    padding-left: 10px;
    font-size: 18px;
    position: sticky;
    top: 0;
}
.content__list {
    list-style-type: none;
    padding: 0;
    font-size: 15px;
    color: darkblue;
}

form {
    position: fixed;
    width: 300px;
    bottom: 0;
    right: 0;
    margin: 0 auto;
  }
  input {
    width: 100%;
    height: 42px;
    padding-left: 10px;
    border: 2px solid #530AEE;
    border-radius: 5px;
    outline: none;
    background: #F9F0DA;
    color: #530AEE;
  }
  button {
    position: absolute; 
    top: 0;
    right: 0px;
    width: 60px;
    height: 42px;
    border: none;
    background: #530AEE;
    border-radius: 0 5px 5px 0;
  }
