* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #1b2473;
}

.entry-form {
  position: relative;
  width: calc(600 / 1440 * 100vw);
  /* height: calc(412 / 1440 * 100vw); */
  margin-top: calc(84 / 1440 * 100vw);
  margin-bottom: calc(54 / 1440 * 100vw);
  margin-left: calc(412 / 1440 * 100vw);
  padding-top: calc(26 / 1440 * 100vw);
  padding-right: calc(45 / 1440 * 100vw);
  padding-bottom: calc(26 / 1440 * 100vw);
  padding-left: calc(45 / 1440 * 100vw);
  background: #ffffff;
  box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.entry-form__heading {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-family: "Roboto";
  font-size: calc(50 / 1440 * 100vw);
  text-align: center;
  color: #787878;
}

.entry-form__form {
  position: relative;
  display: flex;
  flex-direction: column;
}
.entry-form__label {
  margin-left: calc(8 / 1440 * 100vw);
  margin-bottom: calc(5 / 1440 * 100vw);
  font-weight: 700;
  font-family: "Roboto";
  font-size: calc(16 / 1440 * 100vw);
  line-height: calc(16 / 1440 * 100vw);
  color: #787878;
}

.entry-form__input {
  width: 100%;
  height: calc(49 / 1440 * 100vw);
  margin-bottom: calc(11 / 1440 * 100vw);
  padding-left: calc(15 / 1440 * 100vw);
  border: 2px solid #787878;
  border-radius: calc(10 / 1440 * 100vw);
  background: #ffffff;
  font-weight: 700;
  font-size: calc(28 / 1440 * 100vw);
  line-height: calc(36 / 1440 * 100vw);
  color: #787878;
}

.entry-form__input:focus {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  outline: none;
}

.entry-form__input::placeholder {
  font-weight: 700;
  font-size: calc(28 / 1440 * 100vw);
  line-height: calc(36 / 1440 * 100vw);
  color: #cccccc;
}

.entry-form__button {
  width: calc(180 / 1440 * 100vw);
  height: calc(52 / 1440 * 100vw);
  margin-right: auto;
  margin-left: auto;
  margin-top: calc(58 / 1440 * 100vw);
  margin-bottom: calc(58 / 1440 * 100vw);
  background: #1a226b;
  border-radius: calc(10 / 1440 * 100vw);
  border: none;
  font-weight: 700;
  font-size: calc(24 / 1440 * 100vw);
  line-height: calc(16 / 1440 * 100vw);
  color: #ffffff;
}

.entry-form__result {
  width: 100%;
  height: calc(100 / 1440 * 100vw);
  margin-bottom: calc(11 / 1440 * 100vw);
  padding-left: calc(15 / 1440 * 100vw);
  border: 2px solid #787878;
  border-radius: calc(10 / 1440 * 100vw);
  background: #ffffff;
  font-weight: 700;
  font-size: calc(28 / 1440 * 100vw);
  line-height: calc(36 / 1440 * 100vw);
  color: #787878;
  text-align: center;
}

@media screen and (max-width: 769px) {
  .entry-form {
    width: calc(728 / 768 * 100vw);
    /* height: calc(697 / 768 * 100vw); */
    margin: calc(20 / 768 * 100vw);
    padding-top: calc(38 / 768 * 100vw);
    padding-left: calc(45 / 768 * 100vw);
    padding-right: calc(45 / 768 * 100vw);
    padding-bottom: calc(37 / 768 * 100vw);
    background: #ffffff;
    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.25);
    border-radius: calc(20 / 768 * 100vw);
  }

  .entry-form__heading {
    font-style: normal;
    font-weight: 700;
    font-size: calc(60 / 768 * 100vw);
    line-height: calc(50 / 768 * 100vw);
    margin-bottom: calc(13 / 768 * 100vw);
    margin-top: 0;
    text-align: center;
    color: #787878;
  }

  .entry-form__label {
    font-weight: 700;
    font-size: calc(24 / 768 * 100vw);
    line-height: calc(16 / 768 * 100vw);
    color: #787878;
  }

  .entry-form__input {
    width: 100%;
    height: calc(49 / 768 * 100vw);
    border: calc(2 / 768 * 100vw) solid #787878;
    margin-bottom: calc(35 / 1440 * 100vw);
    border-radius: calc(10 / 768 * 100vw);
    background: #ffffff;
    font-weight: 700;
    font-size: calc(28 / 768 * 100vw);
    line-height: calc(36 / 768 * 100vw);
    color: #787878;
  }

  .entry-form__input::placeholder {
    font-weight: 700;
    font-size: calc(28 / 768 * 100vw);
    line-height: calc(36 / 768 * 100vw);
    color: #cccccc;
  }

  .entry-form__button {
    width: calc(220 / 768 * 100vw);
    height: calc(80 / 768 * 100vw);
    margin-top: calc(80 / 768 * 100vw);
    margin-bottom: calc(80 / 768 * 100vw);
    border-radius: calc(10 / 768 * 100vw);
    border: none;
    background: #1a226b;
    font-weight: 700;
    font-size: calc(32 / 768 * 100vw);
    line-height: calc(16 / 768 * 100vw);
    color: #ffffff;
  }

  .entry-form__result {
    width: 100%;
    height: calc(100 / 768 * 100vw);
    border: calc(2 / 768 * 100vw) solid #787878;
    margin-bottom: calc(35 / 1440 * 100vw);
    border-radius: calc(10 / 768 * 100vw);
    background: #ffffff;
    font-weight: 700;
    font-size: calc(28 / 768 * 100vw);
    line-height: calc(36 / 768 * 100vw);
    color: #787878;
    text-align: center;
  }
}
